/* Saves commonly used colors */
:root {
    --dark: #000000;
    --light: #ffffff;
    --gray: #1a1924;
}

/* Sets background color for webpage whe in light mode*/
.Light {
    background-color: var(--light);
}

/* Sets background color for webpage when in dark mode */
.Dark {
    background-color: var(--gray);
}

/* Sets border for navBar when in light mode */
.navBarLight {
    border: 4px solid var(--dark);
    background-color: var(--light);
}

/* Sets border for navBar when in dark mode */
.navBarDark {
    border: 4px solid var(--light);
    background-color: var(--gray);
}

/* Sets color for navTitle when in light mode */
.navTitleLight {
    color: var(--dark);
}

/* Sets color for navTitle when in dark mode */
.navTitleDark {
    color: var(--light);
}

/* Sets color for theme button when in light mode */
.themeSwitcherLight {
    color: #ffe135;
}

/* Sets color for theme button when in dark mode */
.themeSwitcherDark {
    color: #a0b2ff;
}

/* Sets color for index title when in light mode */
.titleSectLight {
    border: 4px solid var(--dark);
}

/* Sets color for index title when in dark mode */
.titleSectDark {
    border: 4px solid var(--light);
}

/* Sets color for index form when in light mode */
.formSectLight {
    border: 4px solid var(--dark);
}

/* Sets color for index form when in dark mode */
.formSectDark {
    border: 4px solid var(--light);
}

/* Sets color for index form title when in light mode */
.formTitleLight {
    color: var(--dark);
}

/* Sets color for index form title when in dark mode */
.formTitleDark {
    color: var(--light);
}

/* Sets color for index username field when in light mode */
.usernameFieldLight {
    color: var(--dark);
}

/* Sets color for index username field when in dark mode */
.usernameFieldDark {
    color: var(--light);
}

/* Sets color for index title field when in light mode */
.titleFieldLight {
    color: var(--dark);
}

/* Sets color for index title field when in dark mode */
.titleFieldDark {
    color: var(--light);
}

/* Sets color for index content field when in light mode */
.contentFieldLight {
    color: var(--dark);
}

/* Sets color for index content field when in dark mode */
.contentFieldDark {
    color: var(--light);
}

/* Sets color for post box when in light mode */
.postBoxLight {
    border: 4px solid var(--dark);
}

/* Sets color for post box when in dark mode */
.postBoxDark {
    border: 4px solid var(--light);
}

/* Sets color for post title when in light mode */
.postTitleLight {
    border-bottom: 2px solid var(--dark);
}

/* Sets color for post title when in dark mode */
.postTitleDark {
    border-bottom: 2px solid var(--light);
    color: var(--light);
}

/* Sets color for post content when in light mode */
.postContentLight {
    color: var(--dark);
}

/* Sets color for post content when in dark mode */
.postContentDark {
    color: var(--light);
}

/* Sets color for post user info when in light mode */
.postUserLight {
    color: var(--dark);
}

/* Sets color for post user info when in dark mode */
.postUserDark {
    color: var(--light);
}

/* Sets color for footer when in light mode */
.footerLight {
    border: 4px solid var(--dark);
}

/* Sets color for footer when in dark mode */
.footerDark {
    border: 4px solid var(--light);
}

/* Sets color for footer title when in light mode */
.footerTitleLight {
    color: var(--dark);
}

/* Sets color for footer title when in dark mode */
.footerTitleDark {
    color: var(--light);
}

/* Sets color for cred list when in light mode */
.credListLight {
    color: var(--dark);
}

/* Sets color for cred list when in dark mode */
.credListDark {
    color: var(--light);
}